<!DOCTYPE html>
<html lang="en" >
<head>
    <!--style css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="views/css/moviePage.css">
    <script src="https://kit.fontawesome.com/4c974060b2.js" crossorigin="anonymous"></script>
    <title>moviePage</title>
    <!-- js -->
    <script src = "https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src = "/js/moviePage.js"></script>
    <!-- js -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">

    
</head>
<div id="body">
    <body>
        <div class="title">
            <span id="movieName"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span id="rate"></span>
        </div>
    
    
        <div class="rating">
            <div class="starsRating">
                <h2 id="rateTitle">rate it</h2>
                <span class="rating__star far fa-star"></span>
                <span class="rating__star far fa-star"></span>
                <span class="rating__star far fa-star"></span>
                <span class="rating__star far fa-star"></span>
                <span class="rating__star far fa-star"></span>
            </div>
            <div class="tooltip">
                <button id="addToList" onclick="addToList()"><i class="fa-solid fa-list-check"></i></button>
                <span class="tooltiptext">Add to watch list</span>
              </div>
            
        </div>
        
        <!-- https://drive.google.com/file/d/1c7eOgZPml1ufxQWDL16dTT8nn6kV2mYM/view?usp=sharing -->

        <!-- https://drive.google.com/file/d//view?usp=sharing -->
<!-- "https://drive.google.com/uc?export=view&id=1c7eOgZPml1ufxQWDL16dTT8nn6kV2mYM" -->
        
        
        <div id="middle">
            <!-- movie image -->
            <img id="image">
            <!-- ///////video////// -->
            <object id="movie" 
                controls autoplay 
                width='540' height='420'>
            </object>
            
            <!-- data='https://www.youtube.com/embed/XGk2EfbD_Ps?autoplay=1' -->
            
            <!-- <video class="video" width="540" height="420" controls autoplay >
                <source src="video.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            </video> -->
        </div>
    
        <div id = "movieData">
            <h1>
                <div id="duration"></div>
                <div id ="description"></div>
                <div id="director"> </div>
                <div id="writer"></div>
                <div id="stars"></div>
            </h1>
        </div>
    
        <div class="leaveAcomment">
            <h1 class="lastTitle">thanks for watching! we will preciate it if you can like and share</h1>
            <iframe id="facebook" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FGigos-Rate-104140762405866%2Fgroups&width=450&layout=standard&action=like&size=large&share=true&height=35&appId"
                width="450" height="35"
                style="border:none;
                overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay;
                clipboard-write;
                encrypted-media;
                picture-in-picture;
                web-share">
            </iframe>        
        </div>
    
        <div id="map"></div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2MhSzwkJdU50VOmGdqaiyHAMIZ_y12ok&callback=initMap&v=weekly"
            defer>
        </script>

        <div id="mapTitle"> <i class="fa-solid fa-map-location-dot"></i> Check out where this movie was filmed <i class="fa-solid fa-map-location-dot"></i> </div>
        
        <button onclick="scrollToTop()" class="scroll">
            <i class="fa-solid fa-circle-chevron-up"></i>
        </button>
    </body>
</div>



