<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/watchList.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="views/css/main.css" />
    <title>GigosRate</title>
  <head>
    <div>
      <p class="headLine" id="headLine">Watch List </p>
    </div>
  </head>
  <div id="body">
    <div class="filter-bar">
      <!-- <div class="custom-select">
        <select id="genre" class="select" onchange="displayGenre()">
          <option value="all genres">All genres</option>
          <option value="action">Action</option>
          <option value="drama">Drama</option>
          <option value="comedy">Comedy</option>
          <option value="animation">Animation</option>
          <option value="biography">Biography</option>
        </select>

        <select id="year" class="select" onchange="displayByYear()">
          <option value="all years">All the years</option>
          <option value="2022">2022</option>
          <option value="2020-2021">2020-2021</option>
          <option value="2010-2019">2010-2019</option>
          <option value="2000-2009">2000-2009</option>
          <option value="1980-1999">1980-1999</option>
        </select>
      </div> -->
      <div>
        <input type="search" class="movie-search""  placeholder="enter movie name" >
        <button class="searchButton"">Search</button>
      </div>
      </div>  
    </div>
    <div id = 'movieContent'>

    </div>
  </div>
</html>