<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/watchList.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="views/css/main.css" />
    <title>GigosRate</title>
  <head>
    <div>
      <p class="headLine" id="headLine">Watch List </p>
    </div>
  </head>
  <div id="body">
    <div class="filter-bar">
      <div>
        <input type="search" class="movie-search""  placeholder="enter movie name" >
        <button class="searchButton"">Search</button>
      </div>
      </div>  
    </div>
    <div id = 'movieContent'>

    </div>
  </div>
</html>