 body{
   margin: 0;
   font-family: "Open Sans", sans-serif;
 }
 .main-container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navBar navBar navBar"
    "content content content"
    "footer footer footer";
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  
  .navBar {
    grid-area: navBar;
  }

  #content{
      grid-area: content;
      background-color: #273636;
  }

  .footer{
      display: flex;
      grid-area: footer;
      justify-content: center;
      align-items: center;

      background-color: rgb(66 85 101);
      color: white;
      text-align: center;

      width: 100%;
      height: 30px;
      /* text-align: center; */
      /* height: 100%; */
      /* padding-top: 5px;     */
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #47b5df;
  }
  #admin{
    cursor: pointer;
  }
  #sign-out{
    cursor: pointer;
  }