 @import url(./var.css); 


.custom-select{
  position: relative;
  font-family: Arial;
}

.custom-select select {
  background-color: gray;
}


.select  {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}


.searchButton, .buttonSelect, .showAll{ 
  background-color: gray;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.movie-search {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}



.filter-bar {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  

  .headLine{
    text-align: center;
    color: white;
    /* padding: 1%; */
    font-size: 40px;
  }


  .movieDiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    /* margin:  */
    text-align: center;
    font-family: arial;
    padding: 3%;
  }
  
  .movieDiv button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .movieDiv button:hover{
    opacity: 0.7;
  }

  
.text {
  color: grey;
  font-size: 22px;
}
.movieRow {
  overflow: hidden;
  align-items: center;
  display:flex;
  flex-direction: row; 
  justify-content: center;
  margin-bottom: 2%;
  
}

.img {
    
  width: 250px;
  border-radius: 5%;
  cursor: pointer;
  object-position: top;
  
  
}

.img:hover {
  transform: scale(1.1);
  filter: blur(2px);
}